<include file="Public/header" />
    <div class="content">
        <div class="title">
            添加文章
        </div>
        <div class="mess">
            <span>请按照格式添加!</span>
        </div>
        <form action="{:U('Admin/Article/addAction')}" method="post" >
            <p>
                <label>文章标题</label>
                <input type="text" name="title" />
            </p>
            <p>
                <label>所属栏目</label>
                <select name="cate">
                    <volist name="data" id="vo">
                        <option value="{$vo.cid}">{$vo.cate_name}</option>
                    </volist>
                </select>
            </p>
            <p>
                <label>文章简介</label>
                <input type="text" name="description" />
            </p>
            <p>
                <label>作者</label>
                <input type="text" name="author" />
            </p>
            <p>
                <label>添加时间</label>
                <input type="text" name="add_time" value="{$currentTime}"/>
            </p>
            <p>
                <label>内容</label>
                    <include file="demo" />
            </p>
            <!--<p>-->
                <!--<label>是否显示</label>-->
                <!--<input type="radio" name="status"  value="1" checked="checked"/> 显示-->
                <!--<input type="radio" name="status" value="0"/> 屏蔽-->
            <!--</p>-->
            <!--<p>-->
                <!--<label>排序</label>-->
                <!--<input type="text" name="ord" value="0"/>-->
            <!--</p>-->
            <p>　　　　　　　　　　　　　　　　　　　　<!--此处有十个实体空格-->
                <input type="submit" value="提交" />
            </p>
        </form>
    </div>
<include file="Public/footer" />